Bitwise operation

In [2]:
print(8 & 12)
print(0XF & 0XE)

8
14

In [3]:
print(7 | 15)
print(0XA | 0XB)

15
11

In [4]:
print(4 ^ 7)
print(0XA ^  0XC)

3
6

In [8]:
print(8>>1)
print(8>>2)
print(8>>3)
print(8>>4)

4
2
1
0

In [7]:
print(6<<1)
print(6<<2)
print(6<<3)
print(6<<4)

12
24
48
96

Assignment operation

In [14]:
a=24
print(a)
a+=35
print(a)
a-=45
print(a)
a*=8
print(a)
a/=4
print(a)
a%=3
print(a)

24
59
14
112
28.0
1.0

In [18]:
a=75
print(a)
a//=5
print(a)
a**=3
print(a)

75
15
3375

In [25]:
a=8
print(a)
a&=12
print(a)
a|=4
print(a)
a>>0XF
print(a)
a<<=3
print(a)

8
8
12
12
96

Identity and membership operation

In [26]:
x=["KLETECH","COLLEGE"]
y=["KLETECH","COLLEGE"]
z=x
z=y
print(z is x)
print(y is x)
print(y is z)

False
False
True

In [27]:
x=["KLETECH","COLLEGE"]
y=["KLETECH","COLLEGE"]
z=x
z=y
print(z is not x)
print(y is not z)

True
False

In [28]:
x=["KLETECH","COLLEGE"]
y=["KLETECH","COLLEGE"]
print("COLLEGE" in x)
print("HUBLI" in y)

True
False

While loop For loop conditions

In [29]:
num=int(input("Enter the number"))
while num<=9:
  print("Number is single digit")
  break
while num>9 and num<=99:
  print("Number is double digit")
  break
while num>99 and num<=999:
  print("Number is triple digit")
  break

Enter the number 36
Number is double digit

In [30]:
for x in range(7):
  print(x)

0
1
2
3
4
5
6

In [32]:
for x in range(3,9):
  print(x)

3
4
5
6
7
8

In [33]:
for x in range(4,20,2):
  print(x)

4
6
8
10
12
14
16
18

In [38]:
for x in range(5,9):
  print("SINGLE DIGIT NUMBER")
for x in range(0,99,10):
  print("DOUBLE DIGIT NUMBER")

SINGLE DIGIT NUMBER
SINGLE DIGIT NUMBER
SINGLE DIGIT NUMBER
SINGLE DIGIT NUMBER
DOUBLE DIGIT NUMBER
DOUBLE DIGIT NUMBER
DOUBLE DIGIT NUMBER
DOUBLE DIGIT NUMBER
DOUBLE DIGIT NUMBER
DOUBLE DIGIT NUMBER
DOUBLE DIGIT NUMBER
DOUBLE DIGIT NUMBER
DOUBLE DIGIT NUMBER
DOUBLE DIGIT NUMBER

In [45]:
places= ["hubli","belgaum","bangalore"]
for x in places:
  print(x)
  if x=="belgaum":
    print("found")
  break

hubli